html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 1px;
    background-color: #d5ecd7;
}

#mainNavBar {
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    color: #78c9ea;
    background-color: #9d9b8e;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    
    font-family: Cambria;
    font-size: 80px;
    color: #142a35;
}